<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
  <a class="navbar-brand" href="/">CHANDAN EXAMS PORTAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/java">JAVA EXAMS </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/python">PYTHON EXAMS</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/aptitude">APTITUDE EXAMS</a>
      </li>
    </ul>

       <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="/signup">Signup </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login">Login</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
      </li>
    </ul>

  </div>
</nav>

{% block body_block %}
   {% endblock %}
</body>
</html>